@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
}
body {
  width: 100%;
  background: linear-gradient(rgba(30, 72, 150, 0.61), rgba(16, 58, 87, 0.589)),
    url(https://source.unsplash.com/random/?notes) center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mulish", sans-serif;
}

.notelist {
  border-radius: 20px;
  ::-webkit-scrollbar {
    width: 0.8em;
    background-color: #d2d6da49;
    backdrop-filter: blur(15px);
    border-top-right-radius: 20%;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #0000009a;
    border: solid 2px #d2d6da49;
    border-radius: 20px;
  }
}
